Backend/node_modules/
Frontend/frontend/node_modules/
dist/
Frontend/frontend/src/config/backend_url.ts
Backend/backend/src/mongo_string.ts

.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch